<form action="/payment/results">
  <div>
    <label for="apr_id">APR</label>
    <input id="apr_id" type= "text" placeholder="E.g. 5.42" name="apr">
  </div>

  <div>
    <label for="num_years">Number of years</label>
    <input id="num_years" type= "text" placeholder="How many years to repay?" name="years">
  </div>  

  <div>
    <label for="principal_id">Principal</label>
    <input id="principal_id" type= "text" placeholder="How much principal?" name="principal">
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>