<h1>Payment Results</h1>

<dl>
  <dt>APR</dt>
  <dd><%= @interest %></dd>

  <dt>Number of Years</dt>
  <dd><%= @years %></dd>

  <dt>Principal</dt>
  <dd><%= @principal %></dd>

  <dt>Payment</dt>


</dl>