<form action="/random/results">
  <div>
    <label for="min_id">Minimum</label>
    <input id="min_id" type= "text" placeholder="E.g. 1.5" name="user_min">
  </div>

  <div>
    <label for="max_id">Maximum</label>
    <input id="max_id" type= "text" placeholder="E.g. 4.5" name="user_max">
  </div>  

  <div><button>Pick random number</button></div>