<h1> howdy! </h1>

<form>
  <label for="square_id">Enter a number</label>
  <input id="square_id" type="text" placeholder="What number do you want to square?" name ="elephant">

  <button>Calculate square</button>
</form>