<form action="/square_root/results">
  <div>
    <label for="square_root_id">Enter a number</label>
    <input id="square_root_id" type="text" placeholder="What number do you want to square root?" name ="number_sqrt">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>

</form>